/* Write your CSS here */
.team-match-container {
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
  align-items: flex-start;

  min-height: 100vh;
  max-height: 100%;
}
.RCB {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}
.KKR {
  background: linear-gradient(to bottom, #5755a7, #1e293b);
}
.CSK {
  background: linear-gradient(to bottom, #f7db00, #1e293b);
}
.KXIP {
  background: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.MI {
  background: linear-gradient(to bottom, #13418b, #1e293b);
}
.SRH {
  background: linear-gradient(to bottom, #f26d22, #1e293b);
}
.DC {
  background: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.RR {
  background: linear-gradient(to bottom, #da237b, #1e293b);
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.latest-text-heading {
  color: #ffffff;
  align-items: flex-start;
}
.latest-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.banner-image {
  width: 92vw;
  margin-bottom: 10px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-recent-matches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  flex-wrap: wrap;
  padding-left: 0px;
}
